@font-face {
    font-family: 'Aerial';
    src: url('../fonts/aerial-webfont.eot');
    src: url('../fonts/aerial-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/aerial-webfont.woff') format('woff'), url('../fonts/aerial-webfont.ttf') format('truetype'), url('../fonts/aerial-webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: 'PixelFont';
    src: url('../fonts/VisitorTT1BRK.eot?#iefix') format('embedded-opentype'),  url('../fonts/VisitorTT1BRK.woff') format('woff'), url('../fonts/VisitorTT1BRK.ttf')  format('truetype'), url('../fonts/VisitorTT1BRK.svg#VisitorTT1BRK') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin:0;
    padding:0;
    font-family: PixelFont;
    letter-spacing: 1px;
}

body {
    font-family: 'PixelFont';
    background-color: black;
    color: white;
}

a{
    color: #fb2e2e;
    text-decoration: none;
}

h1{
    font-family: Aerial;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 12px;
}

h2{
    font-family: 'Helvetica Neue';
    font-weight: 100;
    margin-bottom: 20px;
    margin-top: 20px;
}

h3 {
    font-family: Aerial;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 8px;
}

.text-red{
    color: #F70F0F !important;
}

.text-green{
    color: #4DF70F !important;
}

.text-yellow{
    color: #FFF300 !important;
}

.text-pink{
    color: #FF0091 !important;
}

.text-purple{
    color: #9500FF !important;
}

.text-blue{
    color: rgb(0,200,255) !important;
}

.text-white{
    color: white !important;
}

.text-black{
    color: black !important;
}
