.wnd_softwaremarket li {
    padding-bottom: 10px;
}

.wnd_softwaremarket .info-app {
    font-weight:bold; cursor: pointer;
}

.wnd_softwaremarket .buy-app {
    float: right; cursor: pointer; font-weight: bold;
}

.wnd_softwaremarket .sw_shop_goback {
    cursor: pointer;
    vertical-align: center;
}

.buy-app {
    width: 100%;
}

.info-app {
    float: right;
    margin-top: -12px;
}