#chatBox{
    height: 96%;
    overflow: auto;
    width: 80%;
}
#contentWrap{
    height: 80%;
    width: 100%;
}
#chatWrap{
    float: left;
    width: 90%;
}
.error{
    color: red;
}
.whisper{
    color: gray;
    font-style: italic;
}
#users{
    float: right;
    width: 20%;
}
#send-message{
    width: 550px;
    height: 40px;
    bottom: 3px;
    position: absolute;
    min-width: 370px;
}