// Menubar
$menubar-item: #ffffff;
$menubar-item-hover: #ffffff;
$menubar-item-hover-background: rgba(0,200,255,0.3);
$menubar-item-background: rgba(0,0,0,0.85);
$menubar-item-border: rgba(0,200,255,0.5);
$menubar-item-border-clean: rgb(0,200,255);
$menubar-item-inactive: #4b4b4b;


// Dialogs
$dialog-pane-background: rgba(0,0,0,0.4);
$dialog-pane-border: rgba(0,200,255,0.6);

$img-shadow: rgba(0,200,255,0);


// Form
$form-background: rgba(0,200,255,0.2);
$input-hover-background: rgba(0,200,255,0.1);
$input-border: rgb(0,200,255);
$input-text: #ffffff;
$input-option-background: rgba(0,0,0,0.8);

$text-color: #ffffff;
$link-color: #fb2e2e;

$paragraph-background: rgba(0,200,255,0.15);
$paragraph-hover-background: rgba(0,200,255,0.2);
$paragraph-border: rgba(0,200,255,0.2);

$li-background: rgba(0,200,255,0.1);
$li-hover-background: rgba(0,200,255,0.5);

$progressbar: rgba(0,200,255,0.5);


// UI elements
$ui-border: rgba(0,200,255,0.6);
$ui-header-border: #0b93d5;
